PORT=5000
MONGO_URI=mongodb+srv://admin:password@cluster0.xxx.mongodb.net/medqueue
JWT_SECRET=medqueue_secret_key_123456
FIREBASE_PROJECT_ID=your-project-id
FIREBASE_CLIENT_EMAIL=your-client-email
FIREBASE_PRIVATE_KEY="your-private-key"
FIREBASE_DATABASE_URL=your-database-url
